node_modules
__pycache__
package-lock.json
python/rec_sys/graph_embedding/id_pair_list
a.sql
src/dbpsw.js
*.csv
CA_RS/*.json
CA_RS/res/*
test.*
*.pkl
scrapData/update_cos_data.sql
scrapData/update_cos_data.sh
src/constant.js
src/.DS_Store
python/automation/connect.py
db_data/*
